<div class="NavTotal">
    <div>
      <h1 class="logo">Asociación Cultural Doble6</h1>
    </div>
    <nav class="dropdown-button">
      <button (click)="toggleOptions()">
        <i class="fas fa-bars"></i>
      </button>
      <div *ngIf="showOptions" class="dropdown-menu">
        <ng-container>
          <a routerLink="/admin-create-events">
            Crear eventos <i class="fas fa-calendar-plus"></i>
          </a>
          <a routerLink="/calendar">
            Calendario <i class="fas fa-calendar-alt"></i>
          </a>
          <a routerLink="/info">
            Información <i class="fas fa-info-circle"></i>
          </a>
          <a routerLink="/notification">
            Notificación <i class="fas fa-bell"></i>
          </a>
        </ng-container>
        <a routerLink="/">
          <i class="fas fa-sign-out-alt"></i> Cerrar sesión 
        </a>
      </div>
    </nav>
  </div>
  