<div class="information">
    <div>
        <info-container title="Datos de contacto:" [data]="information.user"></info-container>
    </div>
    
    <div>
        <info-container title="Salas:" [data]="information.campusCentro"></info-container>
        <info-container [data]="information.campusNorte"></info-container>

    </div>
    <div>
        <info-list title="Árbitros federados:" [data]="information.teachers"></info-list>
        <info-list title="partidas liga:" [data]="information.subjects"></info-list>
    </div>
    
</div>





