<div class="information">
    <div>
        <info-container title="Contact Information:" [data]="information.user"></info-container>
    </div>
    
    <div>
        <info-container title="Places:" [data]="information.campusCentro"></info-container>
        <info-container [data]="information.campusNorte"></info-container>

    </div>
    <div>
        <info-list title="Responsible:" [data]="information.teachers"></info-list>
        <info-list title="Events:" [data]="information.subjects"></info-list>
    </div>
    
</div>





