<div class="login-container">
    <div class="toggler" [ngClass]="{ 'toggle-left': isUser, 'toggle-right': isAdmin }">
        <div class="login-form login-user">
            <h2>User</h2>
            <form (ngSubmit)="userLogin()" class="entry-button">
                <input type="text" placeholder="Insert user code" [(ngModel)]="user.code" name="code" required>
                <button type="submit" class="button-login">Login</button>
            </form>
        </div>
        <div class="login-form login-admin">
            <h2>Admin</h2>
            <form (ngSubmit)="adminLogin()" class="entry-button">
                <input type="text" placeholder="Admin" [(ngModel)]="admin.adminname" name="adminAdminname" required>
                <input type="password" placeholder="Password" [(ngModel)]="admin.password" name="adminPassword" required>
                <button type="submit" class="button-login">Login</button>
            </form>
        </div>
    </div>
    <div class="toggle-buttons">
        <button (click)="toggle('user')">User</button>
        <button (click)="toggle('admin')">Admin</button>
    </div>
</div>